{% extends 'homepage/base.html' %}
{% load static %}
{% block content %}

            <h1 class="text-3xl">Bienvenue sur mon portfolio 👋</h1>

            <h2 class="text-6xl pt-5 pb-5">Je suis développeur full stack junior</h2>

            <div class="grid lg:grid-cols-2 pb-5 pr-5">
                <div class="text-justify">
                    <p>Durant mes études universitaires, j'ai eu la chance d'avoir des cours basé sur la science des données ainsi que l'algorithmie. A partie de là, une vraie passion pour le code est né. J'ai débuté cette aventure avec les langages R et SQL. A la fin de mes études, je me suis perfectionné dans le langage R de façon autodidacte.</p>
                    <p>J'ai également débuté la langage Python de façon autodidacte en apprenant la programmation de base et avancée. Je me suis également intéressé de plus en plus à l'intelligence artificielle en travaillant avec les packages du machine learning proposé par Python.</p>
                    <p>Tout naturellement, je me suis dirigé vers BeCode afin de pouvoir faire de ma passion mon métier, à savoir travailler dans le code en devenant plus particulièrement développeur fullstack. J'ai un intérêt tout particulier pour Python et son framework Django.</p>
                </div>
                <img src="{% static 'homepage/img/icon_fullstack.png' %}" alt="fullstack developper" class="w-[60%] ml-[25%] pb-5">
            </div>

            <h3 class="pt-5">Voici mes coordonnées de contact, n'hésitez pas à également visiter mes réseaux! </h3>

            <div id="macarte" class="lg:w-[545px] lg:h-[390px] w-[345px] h-[490px] mb-5 mt-5"></div>

{% endblock %}