{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="Auteur" content="Loïc Calcagno">
        <meta name="Description" content="Bienvenue sur mon portfolio! Je suis Loïc Calcagno, full stack développeur junior. Découvre mon univers à travers ce portfolio. ">

        <title>Portfolio | Loïc Calcagno</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">

        <link rel="icon" href="{% static 'homepage/img/favicon.png' %}">

        <!--OpenStreetMap & leatflet -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0/leaflet.css" />
    </head>

    <body>
        <span class="absolute text-white text-4xl top-5 left-4 cursor-pointer" onclick="Open()">
           <i class="bi bi-filter-left px-2 bg-gray-900 rounded-md"></i>
        </span>
        <header class="sidebar fixed top-0 bottom-0 lg:left-0 left-[-300px] p-2 w-[300px] overflow-y-auto text-center bg-gray-900 rounded-r">
            <div class="text-gray-100 text-xl">
                <div class="p-2.5 mt-1 flex text-center items-center">
                    <h1 class="font-bold text-gray-200 text-[25px] ml-3 mb-5 ">Loïc Calcagno </h1>
                    <i class="bi bi-x ml-[50px] cursor-pointer lg:hidden" onclick="Open()"></i>
                </div>
                <div>
                    <img src="{% static 'homepage/img/photo.png' %}" alt="photo de profil" class="m-3 rounded-full scale-[75%]">
                    <h2 class="pb-[50px] border-b-4 border-gray-500">Développeur fullstack junior</h2>
                </div>
                <div class="pt-[25px]">
                    <p class="mt-[20px] p-2 hover:bg-gray-400"><a href="{% url 'accueil' %}">A propos de moi</a></p>
                    <p class="mt-[20px] p-2 hover:bg-gray-400"><a href="{% url 'project' %}">Mes projets</a></p>
                    <p class="mt-[20px] p-2 hover:bg-gray-400"><a href="{% url 'contact' %}">Contact</a></p>
                    <a href="{% static 'homepage/CV_Loïc_Calcagno.pdf' %}" target="_blank"><p class="mt-[20px] p-2 bg-gray-600 hover:bg-gray-400">Télécharger mon CV</p></a>
                </div>
            </div>
        </header>

        <div class="lg:ml-[300px] pt-[75px] pl-7 lg:p-7 lg:pl-[100px] lg:pr-[100px] h-screen">
           <main class="">
            {% block content %}
            {% endblock %}
            </main>

            <div class="fixed lg:bottom-5 bg-gray-100 p-5 sticky top-[100vh]">
                <footer class="text-center">
                    <h2>Portfolio réalisé par <a href="https://github.com/CalcagnoLoic/portfolio_v2" target="_blank">@CalcagnoLoic</a></h2>
                </footer>
            </div>
        </div>

        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0/leaflet.js"></script>
        <script src="{% static 'homepage/js/script.js' %}"></script>
   </body>
</html>