<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="Auteur" content="Loïc Calcagno">
        <meta name="Description" content="Bienvenue sur mon portfolio! Je suis Loïc Calcagno, full stack développeur junior. Découvre mon univers à travers ce portfolio. ">
        <title>Portfolio | Loïc Calcagno</title>
    </head>
    <body>
        <header class="navbar">

        </header>
        <div class="content">
            <main>
                {% block content %}
                {% endblock %}
            </main>
            <footer>

            </footer>
        </div>
    </body>
</html>